{% extends 'base.html' %} {% block title %} Scrumptious Recipes - Create Recipe
{% endblock title %} {% block content %}
<main class="content-container">
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label for="{{form.title.id_for_label}}">Title</label>
    {{form.title}}
    <label for="{{form.picture.id_for_label}}">Picture</label>
    <img id="img-upload" style="width: min(300px, 100%)" />
    {{form.picture}}
    <label for="{{form.description.id_for_label}}">Description</label>
    {{form.description}}
    <h3>Add Ingredients</h3>
    {{ ingredients.management_form }} 
    <div class="ingredients-formset">
    {% for form in ingredients %}
        <div class="ingredients-form">
          {{ form}}
        </div>
    {% endfor %}
    </div>
    <!-- Hidden Block to Store Empty Form HTML -->
    <div id="ingredients-empty-form" style="display: none">
      {{ ingredients.empty_form}}
    </div>
    <button id="add-ingredients" type="button">Add Ingredient</button>

    <h3>Add Instructions</h3>
    {{ recipe_steps.management_form}}
    <div class="recipe_steps-formset">
    {% for form in recipe_steps %}
      <div class="recipe_steps-form">
      {{ form }}
      </div>
    {% endfor %}
    </div>
    <div id="recipe_steps-empty-form" style="display: none">
      {{ recipe_steps.empty_form }}
    </div>
    <button id="add-recipe_steps" type="button">Add Step</button>

    <div>
      <button>Save</button>
    </div>
  </form>
</main>
{% endblock content %} {% block scripts %}

<script>
  document.getElementById("id_picture").onchange = function () {
    let src = URL.createObjectURL(this.files[0]);
    document.getElementById("img-upload").src = src;
    document.getElementById("img-upload").style =
      "display: block; width: min(400px, 100%);";
  };

  function formsetManager(prefix){
    const addButton = document.getElementById(`add-${prefix}`);
    const formsetCountInput = document.getElementById(`id_${prefix}-TOTAL_FORMS`);
    let formsetCount = parseInt(formsetCountInput.value);

    function addFormset(){

      const formsetForms = document.querySelectorAll(`.${prefix}-formset`);
      const lastFormsetForm = formsetForms[formsetForms.length - 1];

      const emptyForm = document.getElementById(
        `${prefix}-empty-form`
      ).innerHTML;
      const formHtml = emptyForm.replace(/__prefix__/g, formsetCount);
      const parentDiv = document.createElement("div");
      parentDiv.type = "div";
      parentDiv.innerHTML = formHtml;
      parentDiv.classList.add(`${prefix}-form`);
      lastFormsetForm.appendChild(parentDiv);

      formsetCount++;
      formsetCountInput.value = formsetCount.toString();
      const formSet = document.getElementsByClassName(`${prefix}-form`);
      const lastForm = formSet[formSet.length - 1];
      addRemoveButton(lastForm, prefix);
    }

    function addRemoveButton(formsetForm){
      const removeButton = document.createElement("button");
      removeButton.type = "button";
      removeButton.textContent = "Remove";
      formsetForm.appendChild(removeButton);
    }
    
    function handleFormsetClick(event) {
      const target = event.target;
      if (target.tagName === 'BUTTON' && target.textContent === 'Remove') {
        const formsetForm = target.closest(`.${prefix}-form`);
        if(formsetForm){

          formsetForm.remove();
          formsetCount--;


          resetNumbers();

        }
      }
    }
    function resetNumbers(){
      const formset = document.getElementsByClassName(`${prefix}-form`);

      // store the values 
      let formValues =[] 
      for(let i = 0; i < formset.length; i++){
        inputs = formset[i].querySelectorAll('input, textarea')
        formValues.push(inputs)
      }
      console.log(formValues)


      for(let i= 0; i < formset.length; i++){
        modifiedHTML = formset[i].innerHTML
        const pattern = new RegExp(`${prefix}-(\\d+)`, 'g');
        modifiedHTML = modifiedHTML.replace(pattern, `${prefix}-${i}-` )
        formset[i].innerHTML = modifiedHTML
      }

      // put the values back.
      for(let i = 0; i < formset.length; i++){
        inputs = formset[i].querySelectorAll('input, textarea')
        for(let j= 0; j < formValues[i].length; j++){
          inputs[j].value = formValues[i][j].value
        }


      }



      totalForms = document.getElementById(`id_${prefix}-TOTAL_FORMS`);
      totalForms.value = formset.length;

    }
    
    addButton.addEventListener("click", addFormset);
    document.addEventListener("click", handleFormsetClick);

    // TODO: add remove buttons to existing items. 

    return{
      addRemoveButton,
      resetNumbers
    }
  }
  ingredientsFormManager = formsetManager('ingredients')
  recipeStepsManager = formsetManager('recipe_steps')
</script>
{% endblock scripts %}
