{% extends 'base.html' %}
{% block title %}
Scrumptious Recipes - {{ recipe.title }}
{% endblock title %}

{% block content %}
<div class="recipe-detail">
  <div class="recipe-header">

    <h2>{{ recipe.title }}</h2>
    <p class="description">{{recipe.description}}</p>
    <p>by
      {% if recipe.author%}
      {{recipe.author.first_name}} {{recipe.author.last_name}}
      {%else%}
      Anyonymous
      {%endif%}
      on <time> {{ recipe.created_on|date:"F j, Y" }} </time>
    </p>
  </div>
    <div class="recipe-img-container">
    <img class="recipe-img" src="{{recipe.picture.url}}" />
    </div>
  <div class="recipe-content">

    {% include 'recipes/rating.html' %}
    <a href="{% url 'edit_recipe' recipe.id %}">Edit Recipe</a>
    <table class="ingredients-table">
      <caption>Ingredients List</caption>
      <thead>
        <tr>
          <th>Amount</th>
          <th>Food item</th>
        </tr>
      </thead>
      <tbody>
        {% for ingredient in recipe.ingredients.all %}
        <tr>
          <td>{{ingredient.amount}}</td>
          <td>{{ingredient.food_item}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
      {% for step in recipe.steps.all %}
      <li>{{step.instruction}}</li>
      {% endfor %}
    </ol>
  </div>
</div>
{% endblock content %}

{% block scripts %}
{% include 'recipes/stars.html' %}
{% endblock scripts%}
