{% extends 'base.html' %}
{% block title %}
Scrumptious Recipes - {{ recipe.title }}
{% endblock title %}

{% block content %}
<div class="recipe-detail">
<h1>{{ recipe.title }}</h1>
<img class="recipe-img" src="{{recipe.picture.url}}" />
  <div class="stars-container">
    </span>
    <span class="star" data-value=5>★</span>
    <span class="star" data-value=4>★</span>
    <span class="star" data-value=3>★</span>
    <span class="star" data-value=2>★</span>
    <span class="star" data-value=1>★</span>
  </div>
{% include 'rating.html' %}
<time> {{ recipe.created_on|date:"F j, Y" }} </time>
<a href="{% url 'edit_recipe' recipe.id %}">Edit Recipe</a>
<p>{{recipe.description}}</p>
  <p>by {{recipe.author.first_name}} {{recipe.author.last_name}}</p>
<table class="ingredients-table">
  <caption>Ingredients List</caption>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Food item</th>
    </tr>
  </thead>
  <tbody>
      {% for ingredient in recipe.ingredients.all %}
      <tr>
        <td>{{ingredient.amount}}</td>
        <td>{{ingredient.food_item}}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
<h2>Steps</h2>
<ol>
  <li>Blanch the green beans</li>
  <li>Grill the green beans and the ears of corn</li>
  <li>Chop the green beans</li>
  <li>Slice the corn off the cob</li>
  <li>Grill the tortillas</li>
  <li>Assemble the tacos with veggies, salsa, and cheese</li>
</ol>
  <ol>
  {% for step in recipe.steps.all %}
    <li>{{step.instruction}}</li>
  {% endfor %}
</ol>
</div>
{% endblock content %}



{% block scripts %}
<script>
    let initialRating
    if("{{recipe.average_rating}}"=== "None") // If there is 0 ratings, this returns "None" so have to initialize it with a 0
      initialRating =0
    else
      initialRating = {{recipe.average_rating}}
  const stars = document.querySelectorAll(".star");
  {% if user.is_authenticated %}
    const userIsLoggedIn = true 
  {% else %}
      const userIsLoggedIn= false
  {% endif %}

  function setStars(rating) {
    let localRating = rating
    let clicked = false // track if the ratings  have been clicked. 
    /* If  ratings have been clicked, it stops the mouseout event listener so it retains the user score. */
    for (let i = stars.length - 1; i >= 0; i--) {
      if (localRating >= 0.5) {
        stars[i].classList.add('gold')
      }
      else{
          if(localRating >0.1){}

        //TODO: Add partial star support. add a style variable to the partial star. unless localRating <=0.1
      }
      localRating--
    }
  }
  function resetStars() {
    for (let i = 0; i < stars.length; i++)
      stars[i].classList.remove('gold')
  }

  setStars(initialRating)
  document.addEventListener("DOMContentLoaded", (event) => {

  // initialize the star rating
  async function addRating(url = "", value)
    {
      headers = new Headers()
      headers.append('X-CSRFToken', '{{csrf_token}}')
      formData = new FormData()
      formData.append('value', value)
      const res = await fetch(url,{
        method: "POST",
        body: formData,
        credentials: 'same-origin',
        headers: headers,
      })
          const jsonData = await res.json()
        console.log(jsonData)
    return jsonData[0]
    // TODO: this is where you handle if it fails or if it succeeds. modify page to let user know what happened after clicking. also if success, remove eventlisteners
    }
  if (userIsLoggedIn) {
        let mouseoverListeners = []
        let mouseoutListeners = []
        let clickListeners = []
    stars.forEach((star, index) => {
      const mouseoverListener = (event)=>{
          resetStars()
      }
      const mouseoutListener = (event) =>{
        setStars(initialRating)
      }
      const clickListener = (event)=>{
          value = star.dataset.value[0]
        if(addRating("{% url 'create_rating' recipe_id=recipe.id user_id=user.id%}", value) ){
              // remove all event listeners
              mouseoverListeners.forEach(({star, mouseoverListener})=>{
                star.removeEventListener("mouseover", mouseoverListener)
              })
              mouseoutListeners.forEach(({star, mouseoutListener})=>{
                star.removeEventListener("mouseout", mouseoutListener)
              })
              clickListeners.forEach(({star, clickListener})=>{
                star.removeEventListener("click", clickListener)
              })
              setStars(initialRating)
              // TODO: show confirmation of added rating on page somehow. Modify <span> contents probably
              // TODO: this will not be necessary, but rather, check if the user has already created a rating for this. If they have, edit rating. This can probably be done in the logic of the view rather than two separate views.
              // TODO: maybe make the css only load if the user is logged in as well. alternatively change css with event listener. Can use the data-value of the spans based to determine how many stars you highlight with gold. 
        }
          
      }
      star.addEventListener("mouseover", mouseoverListener)
      star.addEventListener("mouseout", mouseoutListener)
      star.addEventListener("click", clickListener  )

      mouseoverListeners.push({ star, mouseoverListener })
      mouseoutListeners.push({ star, mouseoutListener })
      clickListeners.push({ star, clickListener })
    })
  }
  })

</script>
{% endblock %}
