{% extends 'base.html'%}
{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block content %}
<main>
  <h1>Scrumptious Recipes</h1>
  <h2>Explore Recipes</h2>
  {% include 'pagination.html' %}
  <div class="recipe-grid">

    {% for recipe in recipe_list %}
    <div role="button" class="recipe-item" onclick="location.href='{% url 'show_recipe' recipe.id %}'">
      <div class="img-container">
        <img class="thumbnail" src="{{recipe.thumbnail.url}}" alt="A Picture of {{recipe.title}}"/>
      </div>
      <div class="recipe-item-lower">
        <h3 class="recipe-item-heading">{{ recipe.title }} </h3>
        <div>By Michelle Gray</div>
        <div>4.3 stars</div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include 'pagination.html' %}
</main>
{% endblock content %}
