{% extends 'base.html'%}
{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block content %}
<main class="content-container">
  <h2>Explore Recipes</h2>
  {% if user.is_authenticated %}
  {% if not recipe_list and view == "my_recipe_list" %}
  <p>
  You have no recipes. Why not <a href="{% url 'create_recipe' %}">create one?</a>
  </p>
  {% endif %}

  {% endif %}
  <div class="recipe-grid">

    {% for recipe in recipe_list %}
    <div class="recipe-item">
      <div class="img-container">
        <a href="{% url 'show_recipe' recipe.id %}">
        <img class="thumbnail" src="{{recipe.thumbnail.url}}" alt="A Picture of {{recipe.title}}"/>
</a>
      </div>
      <div class="recipe-item-lower">
        
        <a href="{% url 'show_recipe' recipe.id %}">
        <h3 class="recipe-item-heading">{{ recipe.title }} </h3>
        </a>
        <p>
        {%if recipe.description|length < 150 %}
          {{recipe.description}}
        {%else%}
        {{recipe.description|truncatechars:150}}         {%endif%}
      <a href="{% url 'show_recipe' recipe.id %}">Read more.</a>

        </p>
        <div class ="author">
          By
          {% if recipe.author %}
          {{recipe.author.first_name}} {{recipe.author.last_name}}
          {% else %}
          Anonymous
          {%endif%}
        </div>
        {% include 'rating.html' %}
      </div>
    </div>
    {% endfor %}
  </div>
</main>
  {% include 'pagination.html' %}
{% endblock content %}
