/* TODO: Break these out into separate css files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap');
html,body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --min-width: min(100%, 1100px);
  --background-color: #F4F3F2;
  --text-color: #23221E;
  --red-color: #C93C42;
  --pink-color: #C7767A;
  --green-color: #44803F;
  --grey-color: #625F54;
  --light-grey-color: #EAE8E7;
  --ultra-light-grey-color: #F7F7F7;
  --img-width: 320px;
  --width: min (1100px, 100% -3rem);
  background: var(--background-color);
  color: var(--text-color);
}
a {
  color: var(--green-color);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
main {
  padding: 16px;
}

footer {
  border-top: 1px solid var(--grey-color);
  padding-block: 1rem;
}
.footer-content {
  padding-block: 1rem;
  padding-inline: 1rem;
  max-width: 1100px;
  margin: 0 auto;
}

nav {
}

.recipe-item-lower{
  height: 100%;
  padding: 0.5rem;
  padding-top: 0;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
}
.recipe-item-lower p {
 margin: 0; 
}

.recipe-item-heading a, h3{
  font-size: 1.2rem;
  margin-bottom: 5px;
  margin-top: 0;
  padding: 0;
  padding-top: 0.25rem;
}

.author{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
}
nav a {
  color: var(--red-color);
  font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
  color: #27411D;
}
h2{
  /* border-bottom: 4px solid var(--red-color); */
  font-size: 2rem;
  font-weight: 900;
}
.banner-text{
  font-family: "Noto Sans";
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--red-color);
}



.recipe-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
}
.ingredients-table {
  border-collapse: collapse;
  grid-template-columns: subgrid;
  grid-column: 1/ span 3;
  width: min(500px, 100%);
  padding: 1rem;
  margin-top: 3rem;
}
.ingredient-amount{
  text-align: right;
  padding-inline: 0.5rem;
  width: 9ch;
}
.ingredient-food-item{
  padding-inline: 0.5rem;
}


.ingredients-table > td, th, tr{
  padding-inline: 0.5rem;
}
.ingredients-table > caption, th{
  text-align: left;
}
.header-amount{
  text-align: right;
}
.ingredients-table > caption{
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* .ingredients-table tr:nth-child(even) { */
/*   background-color: rgba(0, 0, 0, 0.1); */
/* } */
table:has(tbody tr:nth-of-type(4)) tbody tr:nth-of-type(even){
  --dark-row: rgb(0 0 0 / 0.05);
  background: var(--dark-row);
}
table:has(tbody tr:nth-of-type(4)) thead tr, th{
  height: 2rem;
  color: var(--ultra-light-grey-color);
  --thead-color: #28411E;
  background: var(--thead-color);
}

table:not(:has(tbody tr:nth-of-type(4))) *{
  background: initial;
  color: initial;
  padding-inline: 0;
  text-align:left;
}

/* .nav-list{ */
/*   display:grid; */
/*   grid-template-columns: 1fr 1fr ; */
/* } */
/* .nav-item:last-child{ */
/*   justify-self: end; */
/* } */

.nav-list{
  display:grid;
  grid-template-columns: auto auto auto;
}

.recipe-item{
  width: 100%;
  display:grid;
  grid-template-rows: auto 1fr;
  transition: transform 200ms, box-shadow 200ms;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  padding-bottom: 1rem;
  align-items: start;
}
/* .recipe-item:hover{ */
/*   background: var(--light-grey-color); */
/*   transform: scale(1.05); */
/*   box-shadow: 2px 2px 10px rgba(0,0,0,0.4); */
/* } */
/* .recipe-item:active{ */
/*     transition: transform 0s; */
/*     transform: scale(1.02); */

/* } */
/* .recipe-item:hover .recipe-item-heading{ */
/*   text-decoration: underline; */
/* } */
.img-container{
  transition: transform 200ms, box-shadow 200ms;
}
.img-container:hover{
  transform: scale(1.05);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}
.recipe-item p{
  line-height: 1.2rem;
}
.recipe-item a{
}
.recipe-item-heading{
  margin-top: 5px;

  padding-bottom: 0px;
  color: var(--green-color)
}


label{
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: block;
}

textarea#id_description{
  
}

header{
  border-bottom: 2px solid var(--red-color);
  box-shadow: 2px 2px 10px rgb(0 0 0 / 0.2);
  margin:0;
  padding-inline: 1rem;
}
.header-content{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
  width: 100%;
  max-width: 1100px;
  padding: 0;
  margin: 0 auto;
}
.header-content h1{
  flex-grow: 1;
}
nav ul{
  align-items: baseline;
  display: flex;
  list-style:none;
  padding: 0;
  align-items: flex-end;
}
nav ul li{
  padding-left: 10px;
}

.content-container{
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  margin: 0 auto;
}
.pagination{
  width: min(600px, 100%);
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  padding: 0.8rem;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 12px;
  /* box-shadow: 0 3px 2px rgba(0,0,0,0.1); */
}
.pagination span{
  width: 4ch;
}
.pagination div:last-child{
  border-left: 2px solid var(--light-grey-color);
  padding-left: 1rem;
}
.pagination div:first-child{
  border-right: 2px solid var(--light-grey-color);
  padding-right: 1rem;
}
  
.page-number {
  padding-inline: 1rem;
}
.page-number:not(:last-child)::after{
    content: " "
}

.recipe-link{
  position: relative;
  display:inline-block;
}
.recipe-link:hover .recipe-item-heading{
  text-decoration: underline;
}

.img-container{
  width: 100%;
  height: 0;
  overflow:hidden;
  position: relative;
  padding-bottom: 75%;
}
.img-container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.stars-container{
  /* direction: rtl; */
  justify-content: flex-end;

  /* display: inline-block; */
  display: flex;
  flex-direction: row-reverse;
  font-size:20px;
}

.star {
  background: black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 200ms;
  margin:0;
  padding:0;
}
.gold {
  background: gold;
  -webkit-background-clip: text;
  background-clip: text;
}
.partial-star{
  /* --star-percentage: ; */
  /* background: linear-gradient(to right, gold var(--star-percentage), black calc(100% - var(--star-percentage))); */
  background: linear-gradient(to right, gold var(--star-percentage), gold var(--star-percentage), black var(--star-percentage), black calc(100% - var(--star-percentage)));

  -webkit-background-clip: text;
  background-clip: text;

}

.star:hover,
.star:hover ~ .star,
.star:hover ~ .star:not(:hover) {

  cursor: pointer;
  background:gold;
  -webkit-background-clip: text;
  background-clip: text;
}


.recipe-detail {
  /* max-width: var(--max-width); */
  width: var(--width);
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 1rem;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.recipe-img-container{
  grid-column: 1/ span 2;
}
.recipe-header{
  grid-column: 1/ span 3
}
.recipe-content{
  grid-column: 1/ span 5;
}

.recipe-img{
  width: 100%;
}
.user-links{
  display: grid;
  grid-template-columns: autofill;
  align-items: end;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
}
.user-links a{
  color: var(--text-color);
  font-size: 0.8rem;

}
.user-links > ul{
  width: 100%;
  list-style:none;
  padding: 0;
  margin: 0;
  align-items: baseline;
  display:flex;
  justify-content: end;

}
.user-links li:not(:last-of-type){
  padding-inline: 0.5rem;
}
.user-links li:not(:last-of-type)::after{
  content: " - ";
}
.description{
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: var(--grey-color);
}

.main-picture-container {
  grid-template-columns: subgrid;
  grid-column: 1/3;

}

.main-picture {
  width: 100%;
}

.formset{
  /* display: flex; */
  padding-block: 1rem;
}
.formset > * {
  padding-block: 0.5rem;
}
.formset > label{
  padding-right: 1rem;
}
.formset > label:not(:first-child){
  padding-left: 1rem;
}

  
@media (max-width: 844px) {
  .recipe-item{
    display:grid;
  }
}
@media (max-width: 644px) {
  .recipe-img-container{
    grid-column: 1/ span 4;
  }
}
@media (max-width: 344px) {
  .recipe-img-container{
    grid-column: 1/ -1;
  }
  .recipe-detail{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

}

input,
textarea,
select,
button {
  width: min(400px, 100%);
  margin: 0;
  box-sizing: border-box;
  /* border-radius: 0.5rem; */
  box-shadow: 2px 2px 5px rgb(0 0 0 / 0.3);
  line-height: 1.5rem;
  padding: 0.5rem;
}
input, textarea, select{
  outline: none;
  border: 2px solid var(--ultra-light-grey-color);
}
input[type="file"] {
  display:none;
}
label[for="id_picture"]
{
  cursor: pointer;
}
label[for="id_picture"]::after
{
  content: " 📁"
}
label{
  margin-block: 1rem;
}
input{
  height: 1.8rem;
  font-size: 1.2rem;
  padding: 1rem;
}
textarea{
  height: 4.8rem;
  font-size: 1.2rem;
  padding: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button {
  border: 0px;
  height: 2.8rem;
  width: min(10rem, 100%);
  font-size: 1.1rem;
  padding: 0.5rem;
  margin-block: 1rem;
  /* background:var(--red-color); */
  background:var(--green-color);
  color: var(--background-color);
  transition: 60ms ease-in-out;
}

button:hover{
  cursor: pointer;
  transform: scale(1.05);
  filter: drop-shadow(3px 3px var(--grey-color));
}
button:active{
  filter: grayscale(20%);
  transform: scale(.95);
}

#img-upload{
  display:none;
}

.ingredients-formset{
  width: min(600px, 100%);
}
.ingredients-formset label{
  height: 1.5rem;
}
.ingredients-formset input{
}
.ingredients-formset  button{
}
textarea:focus, 
input:focus{
  outline: 2px solid var(--red-color);
}
button:focus{
  outline: 2px solid var(--text-color);
}
.ingredients-form{
  display: grid;
  align-items: start;
  grid-template-columns: 12ch auto auto;
  gap: 0.5rem;
  /* grid-template-columns: auto auto; */
  grid-template-columns: autofill;
}

.ingredients-form > * {
  /* outline: 2px dotted blue; */
}
.ingredients-form label{
  grid-row: 1;
  padding-block: 0;
  margin: 0;
  margin-top: 1rem;
}
.ingredients-form input{
  grid-row: 2;
}
.ingredients-form button{
  grid-row: 2;
  grid-column: 3;
  margin: 0;
  margin-left: 1rem;
  width: 100px;
  height: 2.5rem;
}
.remove-button {
  background: var(--red-color);
}
.errorlist {
  grid-row: 3;
}

#message-div{
  --message-color: var(--green-color);
  --bottom-offset: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-weight: 400;
  color: var(--background-color);
  width: min(250px,100%);
  position: fixed;
  bottom: 2rem;
  right: -30rem;
  background: var(--message-color);
  filter: drop-shadow(5px 5px 8px rgb(0 0 0 / 0.4));
  opacity: 1;
  transition: opacity 400ms;
}

.slide-in{
  animation: message-slide-in 400ms forwards;
}

.slide-out{
  animation: message-slide-out 1000ms forwards;
}
@keyframes message-slide-out{
  0% {
  bottom: var(--bottom-offset);
  right: 2rem;

  }
  100% {
  bottom: var(--bottom-offset);
  right: -30rem;
  }
}

@keyframes message-slide-in{
  0% {
  bottom: var(--bottom-offset);
  right: -30rem;
  }
  100% {
  bottom: var(--bottom-offset);
  right: 2rem;

  }
}

.read-more{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.8rem;
  letter-spacing: .07em;
}

/* .recipe_steps-form{ */
/*   display: grid; */
/*   align-items: start; */
/*   grid-template-columns: 12ch auto auto; */
/*   gap: 1rem; */
/*   /1* grid-template-columns: auto auto; *1/ */
/*   grid-template-columns: autofill; */
/* } */
/* .recipe_steps-form > * { */
/*   /1* outline: 2px dotted blue; *1/ */
/* } */

/* .recipe_steps-form textarea{ */
/*   grid-row: 2; */
/*   grid-column: 2; */
/*   height: 8dvh; */

/* } */
/* .recipe_steps-form input{ */
/*   grid-row: 2; */
/*   grid-column: 1; */
/* } */
/* .recipe_steps-form button { */
/*   grid-row: 2; */
/*   grid-column: 3; */
/* } */
