{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Template Filters Exercise</title>
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    </head>
    <body>
        <header>
            <nav>
                <!-- 🐻 This link won't work for now! Check back in a future exercise! -->
                <a href="">Next exercise</a>
            </nav>
        </header>
        <main>
            <!-- Challenge 1: Formatting Dates -->
            <!-- Filters exist largely to help us easily format otherwise messy or complicated data. -->
            <!-- Dates are a perfect example of data which we might want to format in a variety of ways. -->
            <!-- Below, the date is currently printing quite a bit of information. Read the documentation  -->
            <!-- for the "date" filter, and use it to print the date in the following format:  -->
            <!-- 2-digit day month 4-digit year, ex. 1 January 2023 -->
            <p>Date: {{ date|date:"j F Y" }}</p>
            <!-- Challenge 2: Providing a Nice Default -->
            <!-- Another use for template filters is providing safe fallback values. -->
            <!-- The image URL in this page's context is empty, and so we'll never see anything more than a broken link -->
            <!-- unless we enlist the aid of the "default" filter. -->
            <!-- Read the documentation for the "default" filter and use it to specify this placeholder image URL as the default: -->
            <!-- https://via.placeholder.com/150 -->
            <img src="{{ image|default:'https://via.placeholder.com/150' }}"
                 alt="A placeholder, hopefully">
            <!-- Bonus Challenge: Chaining Filters + Transforming Text -->
            <!-- The mangled_content in this exercise's context dictionary needs to be turned into regular text. -->
            <!-- There are several filters that can transform text, such as "upper" and "lower".  -->
            <!-- Do some research and find a way to transform the mangled string using only filters. -->
            <p>{{ mangled_content|lower|capfirst }}</p>
            <!-- Hint! You'll need a way to capitalize only the leading letter in a string... -->
            <!-- Hint! We can chain multiple filters together to take advantage of each of their effects. -->
            <!-- When we chain filters, they execute from left to right, so... -->
            <!-- <p>{{ "HELLO world"|lower|upper }}</p> -->
            <!-- Will ultimately display "HELLO WORLD" -->
            <!-- Extra Credit:  -->
            <!-- If you complete all the exercises, read the documentation on the following filters, and try implementing them on this page: -->
            <!-- timesince  -->
            {{ date|timesince:date }}
            <!-- timeuntil -->
            {{ date|timeuntil:date }}
            <!-- default_if_none -->
            {{ image|default_if_none:"dude" }}
        </main>
        <footer>
            Exercise 1
        </footer>
    </body>
</html>
