{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tags Exercise</title>
  <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body>
  <header>
    <nav>
      <!-- 🐻 This link won't work for now! Check back in a future exercise! -->
      <a href="">Next exercise</a> 
      <!-- 🐻 This link won't work for now! Check back in a future exercise! -->
      <a href={% url 'exercise' 1%}>Previous exercise</a> 
    </nav>
  </header>
  <main>
    <!-- Challenge 1: Warm Up -->
    <!-- Much like template filters, Django tags add functionality to our HTML templates. -->
    <!-- Unlike filters, tags enable us to perform complex behaviors inside templates, -->
    <!-- rather than transform our data. As a warm up, please use the "for" tag to  -->
    <!-- display each of the numbers as a <li> in the unordered list tag below. -->
    <!-- Refer to the documentation if necessary. -->
    <ul>
        {% for number in numbers %}
        <li>
          {{number}}
        </li>
        {% endfor %}
        <ul>

    
    <!-- Challenge 2: Cleaning Up the Table -->
    <!-- Below we have a table hardcoded with the same data as our attendees list in context. -->
    <!-- Please use the "for" tag to simplify this block of HTML. -->
    <table>
      <tr>
        <th>First</th>
        <th>Last</th>
      </tr>
            {% for attendee in attendees %}
      <tr>
              <td>{{ attendee.first_name }}</td>
              <td>{{ attendee.last_name}}</td>
      </tr>
            {%endfor%}
    </table>

    <!-- Bonus Challenge: Using the "url" tag -->
    <!-- Time to finally see what's up with that bear! The "url" tag allows us to link to a different view based on the -->
    <!-- name we registered for it. This name is visible in the pattern definition in the urls.py file for this app. -->
    <!-- Read the documentation for the "url" tag and then provide the correct view name and argument to link this -->
    <!-- exercise to the first one. Remember that both are accessed via the same url, exercises, but different ids. -->
    <!-- Hint: You don't need to put the "url" tag in quotes. -->
    
    <!-- Extra Credit: Use the "url" tag to add another link, this time to the next exercise! It'll be number 3. -->

  </main>
  <footer>
    Exercise 2
  </footer>
</body>
</html>
