{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>

<body>
  <div class="container">
    <header>
        <a href="{% url 'recipe_list' %}">
        <h1>Scrumptious Recipes</h1></a>
      <nav>
        <ul>
          <li>
            <a class='nav-item' href="{% url 'recipe_list' %}">Main page</a>
          </li>
          <li>
            <a class='nav-item' href="{% url 'create_recipe' %}">Create a Recipe</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="content-container">

      {% block content %}{% endblock content %}
    </main>
    <footer>
      <div class="footer-content">
        Made with love by Scrumptious Recipes
      </div>
    </footer>
  </div>
  {% block scripts %}

  {% endblock %}
</body>

</html>
